.navbar {
    height: 120px;
    width: 100%;
    
}

.navbody {
    width: 84%;
    height: 100px;
    margin: auto;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.logo {
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;

 
}

.Routebody{
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
}
.hambur{
    display: none;
}
.hamburgermenu{
    display: none;
}
@media screen and (max-width: 780px) {

    
.navbody {
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
   align-items: center;
   justify-content: space-between;
}

    .Routebody {
      display: none;
    }
    .logo {
        width: 45%;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .hambur{
        height: 100px;
        display: block;
        display: flex;
        align-items: center;
       
    }
    .toglebtnofhamburg{
        color: aqua;
    }
    .hamburgermenu{
        display: block;
        width: 80%;
        height: 100%;
        background-color: #ff6347;
        position: fixed;
        right: 0;
        top: 0;
    }
    .hamtop{
        height: 50px;
        width: 100%;
        color: aliceblue;
    }
}    