.navbar {
    height: 100px;
    width: 100%;
    
}

.navbody {
    width: 60%;
    height: 100px;
    margin: auto;
    display: flex;
   
}

.logo {
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;

 
}

.routbody{
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
}
.hambur{
    display: none;
}
.hamburgermenu{
    display: none;
}
@media screen and (max-width: 780px) {

    
.navbody {
    width: 90%;
    height: 100px;
    margin: auto;
    display: flex;
   align-items: center;
   justify-content: space-between;
}

    .routbody {
      display: none;
    }
    .logo {
        width: 25%;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .hambur{
        height: 100px;
        display: block;
        display: flex;
        align-items: center;
       
    }
    .toglebtnofhamburg{
        height: 35px;
        width: 35px;
        background-color: aqua;
    }
    .hamburgermenu{
        display: block;
        width: 80%;
        height: 100%;
        background-color: #ff6347;
        position: fixed;
        right: 0;
        top: 0;
    }
    .hamtop{
        height: 50px;
        width: 100%;
        background-color: aliceblue;
    }
}